﻿@model IEnumerable<MVC.Models.TblBrand>

@{
    ViewBag.Title = "Brand";
}

<h2>Brand</h2>

<p>
    <a href="@Url.Action("CreateOrEdit","Brand")" class="btn btn-default">Create New</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                Brand
            </th>
            <th>
                Class      
            </th>
            <th>
                Type
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BRAND_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLASS_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TYPE_NAME)
            </td>
            <td>
                <a href="@Url.Action("CreateOrEdit","Brand",new { id=item.BRAND_ID})" class="btn btn-default">Edit</a>
                <a onclick="Delete(@item.BRAND_ID)" class="btn btn-default">Delete</a>
            </td>
        </tr>
    }

</table>
@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        })
        function Delete(id) {
            alertify.confirm('Confirm Delete', 'Are you sure to delete this record?', function () {
                window.location.href='@Url.Action("Delete","Brand")/' + id;
            },null)
        }
    </script>
}
