﻿@model MVC.Models.TblAssets
<br />
<center>
    <h3><b>@ViewBag.Title</b></h3>


    <div class="form-body">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.ASSET_ID)
            <div class="form-group">
                @Html.LabelFor(model => model.CLASS_ID)<br />
                @Html.DropDownListFor(model => model.CLASS_ID, new SelectList(Model.Class, "CLASS_ID", "CLASS_NAME"), "Select Class", new { style = "width: 180px;", id = "classList", @onchange = "callChangefunc(this.value)" })<br />
                @Html.ValidationMessageFor(model => model.CLASS_ID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TYPE_ID)<br />
                @Html.DropDownListFor(model => model.TYPE_ID, new SelectList(Model.Type, "TYPE_ID", "TYPE_NAME"), "Select Type", new { style = "width: 180px;", id = "typeList", @onchange = "calltypeChangefunc(this.value)" })<br />
                @Html.ValidationMessageFor(model => model.TYPE_ID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.BRAND_ID)<br />
                @Html.DropDownListFor(model => model.BRAND_ID, new SelectList(Model.Brand, "BRAND_ID", "BRAND_NAME"), "Select Brand", new { style = "width: 180px;", id = "brandList", @onchange = "callbrandChangefunc(this.value)" })<br />
                @Html.ValidationMessageFor(model => model.BRAND_ID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MODEL_ID)<br />
                @Html.DropDownListFor(model => model.MODEL_ID, new SelectList(Model.Model, "MODEL_ID", "MODEL_NAME"), "Select Model", new { style = "width: 180px;", id = "modelList" })<br />
                @Html.ValidationMessageFor(model => model.MODEL_ID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ASSET_NAME)<br />
                @Html.EditorFor(model => model.ASSET_NAME)<br />
                @Html.ValidationMessageFor(model => model.ASSET_NAME, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ASSET_PRICE)<br />
                @Html.TextBoxFor(model => model.ASSET_PRICE, new { @type = "number", oninput = "validate(this)" })<br />
                @Html.ValidationMessageFor(model => model.ASSET_PRICE, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.INSTALLED_DATE, new { @class = "control-label" })<br />

                  @Html.EditorFor(model => model.INSTALLED_DATE, new { htmlAttributes = new { min = "1800-01-01"  }})<br />
                
                @Html.ValidationMessageFor(model => model.INSTALLED_DATE, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-secondary btn-sm" />
            </div>
        }
    </div>
</center>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
<script>
   
    var validate = function (e) {
        var t = e.value;
        e.value = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), 3)) : t;
    }
    function callChangefunc(id) {
        var title = '@ViewBag.Title';
        if (title== "Create") {
            $.getJSON("../Assets/FillType/" + id,
                function (data) {
                    var select = $("#typeList");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Select Type"
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.TYPE_ID,
                            text: itemData.TYPE_NAME
                        }));
                    });
                });
        }
        else {
            $.getJSON("../FillType/" + id,
                function (data) {
                    var select = $("#typeList");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Select Type"
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.TYPE_ID,
                            text: itemData.TYPE_NAME
                        }));
                    });
                });
        }
    }

    function calltypeChangefunc(id) {
        var title = '@ViewBag.Title';
        if (title== "Create") {
            $.getJSON("../Assets/FillBrand/" + id,
                function (data) {
                    var select = $("#brandList");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Select Brand"
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.BRAND_ID,
                            text: itemData.BRAND_NAME
                        }));
                    });
                });
        }
        else {
            $.getJSON("../FillBrand/" + id,
                function (data) {
                    var select = $("#brandList");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Select Brand"
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.BRAND_ID,
                            text: itemData.BRAND_NAME
                        }));
                    });
                });
        }
        }

    function callbrandChangefunc(id) {
        var title = '@ViewBag.Title';
        if (title== "Create") {
            $.getJSON("../Assets/FillModel/" + id,
                function (data) {
                    var select = $("#modelList");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Select Model"
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.MODEL_ID,
                            text: itemData.MODEL_NAME
                        }));
                    });
                });
        }
        else {
            $.getJSON("../FillModel/" + id,
                function (data) {
                    var select = $("#modelList");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Select Model"
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.MODEL_ID,
                            text: itemData.MODEL_NAME
                        }));
                    });
                });
        }
    }
</script>
}

