﻿@model IEnumerable<MVC.Models.TblAssets>

@{
    ViewBag.Title = "Assets";
}

<h2>Assets</h2>

<p>
    <a href="@Url.Action("CreateOrEdit","Assets")" class="btn btn-default">Create New</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                Assets
            </th>
            <th>
                Asset Price
            </th>
            <th>
                Installed Date
            </th>
            <th>
                Class
            </th>
            <th>
                Type
            </th>
            <th>
                Brand
            </th>
            <th>
                Model
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ASSET_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ASSET_PRICE)
            </td>
            <td>
                @item.INSTALLED_DATE.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLASS_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TYPE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BRAND_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MODEL_NAME)
            </td>
            <td>
                <a href="@Url.Action("CreateOrEdit","Assets",new { id=item.ASSET_ID})" class="btn btn-default">Edit</a>
                <a onclick="Delete(@item.ASSET_ID)" class="btn btn-default">Delete</a>
            </td>
        </tr>
    }

</table>
@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        })
        function Delete(id) {
            alertify.confirm('Confirm Delete', 'Are you sure to delete this record?', function () {
                window.location.href='@Url.Action("Delete","Assets")/' + id;
            },null)
        }
    </script>
}

