﻿@model MVC.Models.TblType

@{
    ViewBag.Title = "CreateOrEdit";
}

<br /><center>
          <div class="form-body">
              @using (Html.BeginForm())
              {
                  @Html.HiddenFor(model => model.TYPE_ID)
                  <div class="form-group">
                      @Html.LabelFor(model => model.CLASS_ID)<br />
                      @Html.DropDownListFor(model => model.CLASS_ID,new SelectList(Model.Class, "CLASS_ID", "CLASS_NAME"),"Select Class",new { style = "width: 180px;" })<br />
                      @Html.ValidationMessageFor(model => model.CLASS_ID, "", new { @class = "text-danger" })
                  </div>
                  <div class="form-group">
                      @Html.LabelFor(model => model.TYPE_NAME)<br />
                      @Html.EditorFor(model => model.TYPE_NAME)<br />
                      @Html.ValidationMessageFor(model => model.TYPE_NAME, "", new { @class = "text-danger" })
                  </div>
                  <div class="form-group">
                      <input type="submit" value="Submit" class="btn btn-secondary btn-sm" />
                  </div>
              }
          </div>
</center>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}


