﻿@model MVC.Models.TblClass
@{
    ViewBag.Title = "CreateOrEdit";
}
<br /><center>
          <div class="form-body">
              @using (Html.BeginForm())
              {
                  @Html.HiddenFor(model => model.CLASS_ID)
                  <div class="form-group">
                      @Html.LabelFor(model => model.CLASS_NAME)<br />
                      @Html.EditorFor(model => model.CLASS_NAME)<br />
                      @Html.ValidationMessageFor(model => model.CLASS_NAME, "", new { @class = "text-danger" })
                  </div>
                  <div class="form-group">
                      <input type="submit" value="Submit" class="btn btn-secondary btn-sm" />
                  </div>
              }
          </div>
</center>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
