﻿@model IEnumerable<MVC.Models.TblClass>

@{
    ViewBag.Title = "Class";
}

<h2>Class</h2>

<p>
    <a href="@Url.Action("CreateOrEdit","Class")" class="btn btn-default">Create New</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                Class
            </th>
            <th>Actions</th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CLASS_NAME)
        </td>
        <td>
            <a href="@Url.Action("CreateOrEdit","Class",new { id=item.CLASS_ID})" class="btn btn-default">Edit</a>
            <a onclick="Delete(@item.CLASS_ID)" class="btn btn-default">Delete</a>
        </td>
    </tr>
}

</table>
@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        })
        function Delete(id) {
            alertify.confirm('Confirm Delete', 'Are you sure to delete this record?', function () {
                window.location.href='@Url.Action("Delete","Class")/' + id;
            },null)
        }
    </script>
    }
