﻿@model IEnumerable<MVC.Models.TblModel>

@{
    ViewBag.Title = "Model";
}

<h2>Model</h2>


    <a href="@Url.Action("CreateOrEdit","Model")" class="btn btn-default">Create New</a>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    Model
                </th>
                <th>
                    Class
                </th>
                <th>
                    Type
                </th>
                <th>
                    Brand
                </th>
                <th>Actions</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MODEL_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CLASS_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TYPE_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BRAND_NAME)
                </td>
                <td>
                    <a href="@Url.Action("CreateOrEdit","Model",new { id=item.MODEL_ID})" class="btn btn-default">Edit</a>
                    <a onclick="Delete(@item.MODEL_ID)" class="btn btn-default">Delete</a>
                </td>
            </tr>
        }

    </table>
    @section scripts{
        <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        })
        function Delete(id) {
            alertify.confirm('Confirm Delete', 'Are you sure to delete this record?', function () {
                window.location.href='@Url.Action("Delete","Model")/' + id;
            },null)
        }
        </script>
    }
